body {
font-family: Arial, sans-serif;
text-align: center;
background: #fff7e8;
margin: 0;
}

header {
background: #ffd966;
padding: 40px;
}

.hero img {
width: 300px;
margin: 20px;
}

button {
background: #e63946;
color: white;
border: none;
padding: 15px 30px;
font-size: 18px;
cursor: pointer;
border-radius: 10px;
}

button:hover {
background: #c1121f;
}

section {
padding: 40px;
}

footer {
background: #ffe8cc;
padding: 30px;
}

.small {
font-size: 12px;
color: gray;
}